{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "func-names": [
      "error",
      "never"
    ],
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-param-reassign": "off",
    "prefer-promise-reject-errors": "off",
    "prefer-destructuring": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "arrow-body-style": "off",
    "no-console": "off",
    "strict": "off"
  }
}
